


{% capture extra_menu %}
<ul class="sub-nav">
	<a href="{{item.academic_policies}}">Academic Policies</a>
	<a href="{{item.standards_of_conduct}}">Standards of Conduct</a>
	<a href="{{item.blog}}">Blog</a>
</ul>
{% endcapture %}


<footer>
	<div class="grid grid--1">
	<div class="main-nav footer-main-nav">{{html | replace : home_tag, extra_menu | strip_newlines}}
		</div>
		<div class="copyright text--center">Miami College of Design, 2016</div>
	</div>
</footer>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{site.url}}/js/foundation.min.js"></script>
<script src="{{site.url}}/js/owl.carousel.min.js"></script>
<script src="{{site.url}}/js/twitter-fetcher.js"></script>
<script src="{{site.url}}/functions.js"></script>

<script>
	$(document).foundation();
</script>

</body>
</html>
