{% assign item = site.home-page.page-items %}
{% for item in site.footer %}
<footer class="footer">
	<div class="grid grid--1">
		<div class="column">
			<nav class="footer-nav">
				<a class="nav-link" href="{{site.url}}">Home</a>

				
				

				<a class="nav-link" href="{{item.academic_policies}}">Academic Policies</a>
				<a class="nav-link" href="{{item.standards_of_conduct}}">Standards of Conduct</a>
				<a class="nav-link" href="{{item.blog}}">Blog</a>
				<a class="nav-link" href="{{item.contact_us}}">Contact Us</a>
				

			</nav>
		</div>
		<div class="column padding-left-right--small">
			<span class="copyright">
				Miami College of Design, 2016
			</span>
			<span class="privacy-nav">
				<a class="nav-link" href="{{item.terms_of_use}}">Terms of use</a>
				<a class="nav-link" href="{{item.privacy_policy}}">Privacy Policy</a>
				<a class="nav-link" href="{{item.cookies}}">Cookies</a>
			</span>
		</div>
	</div>
</footer>
{% endfor %}






<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{site.url}}/js/foundation.min.js"></script>
<script src="{{site.url}}/js/owl.carousel.min.js"></script>
<script src="{{site.url}}/js/twitter-fetcher.js"></script>
<script src="{{site.url}}/functions.js"></script>

<script>
	$(document).foundation();
</script>

</body>
</html>
