{% assign item = site.home-page.page-items %}
<footer class="footer">
	<div class="grid grid--1">
		<div class="column">
			<nav class="footer-nav">
				<a class="nav-link" href="{{site.url}}">Home</a>
				{% for footlink in site.footer-links %}
					{% for item in footlink.menu-items %}
					<a class="nav-link" href="{{item[1]}}">item[0]</a>
					{% endfor %}
				{% endfor %}
				<!-- <a class="nav-link" href="#">Academic Policies</a>
				<a class="nav-link" href="#">Standards of Conduct</a>
				<a class="nav-link" href="#">Blog</a>
				<a class="nav-link" href="#">Contact Us</a> -->
			</nav>
		</div>
		<div class="column padding-left-right--small">
			<span class="copyright">
				Miami College of Design, 2016
			</span>
			<span class="privacy-nav">
				<a class="nav-link" href="#">Terms of use</a>
				<a class="nav-link" href="#">Privacy Policy</a>
				<a class="nav-link" href="#">Cookies</a>
			</span>
		</div>
	</div>
</footer>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{site.url}}/js/foundation.min.js"></script>
<script src="{{site.url}}/js/owl.carousel.min.js"></script>
<script src="{{site.url}}/js/twitter-fetcher.js"></script>
<script src="{{site.url}}/functions.js"></script>

<script>
	$(document).foundation();
</script>

</body>
</html>
