<header class="main-header" id="main-header">
		<div class="grid grid--1">
			<nav class="main-nav">
				<ul>
					<li>
						<a href="index.html" class="nav-link active full-logo" id="logo_full"><img src="./assets/img/logo.png" ></a>
						<a href="index.html" class="nav-link active" id="home-nav"><span>Home<span></a>

						<ul class="sub-nav dim">
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </li>
							<li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i> Facebook</a></li>
							<li>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>	
							</li>
							<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
						</ul>
					</li>

					<li>
						<a href="#" class="nav-link"><span>Program</span></a>
						<ul class="sub-nav">
							<li><a href="#">Academic calendar</a></li>
							<li><a href="#">Degree Programs</a></li>
							<li><a href="#">Course Descriptions</a></li>
							<li><a href="#">Catalog	</a></li>
						</ul>
					</li>

					<li>
						<a href="apply.html" class="nav-link"><span>Apply</span></a>
						<ul class="sub-nav">
							<li><a href="#">Admissions</a></li>
							<li><a href="#">Financial Aid</a></li>
							<li><a href="#">Scholarships</a></li>
							<li><a href="#">Upcoming Events</a></li>
						</ul>
					</li>

					<li>
						<a href="#" class="nav-link"><span>People</span></a>
						<ul class="sub-nav">
							<li><a href="#">About</a></li>
							<li><a href="#">Students</a></li>
							<li><a href="#">Faculty</a></li>
							<li><a href="#">Staff</a></li>
							<li><a href="#">Campus</a></li>
							<li><a href="#">Latest News</a></li>
						</ul>
			
					</li>
					<li>
						<a href="#" class="nav-link"><span>Contact Us</span></a>
						<ul class="sub-nav">
							<li><a href="#">Get in Touch</a></li>
							<li><a href="#">Request Info Pack</a></li>
						</ul>
						<div class="subscribe">
							<input type="text" placeholder="Subscribe Newsletter">
							<button class="subscribe__button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
						</div>
			
					</li>
				</ul>
			</nav>
		</div>
	</header>