{% assign home_tag = '<!--home_tag-->' %}
<header class="main-header md--hide" id="main-header">
        {% assign entries = site.pages | sort: "position" %}
        {% assign counter = '' %}
        {% assign page_index = 0 %}
<div class="grid grid--1">
    <nav class="main-nav">{% capture html %}
    <ul class="grid grid--5 sm-grid--2">
        {% if include.context == "/" %}
        <li class="column">

            <a href="{{site.url}}/index.html" class="nav-link full-logo " id="logo_full">


            <img src="{{site.url}}/assets/img/logo-0.png" class="logo-1">
            <img src="{{site.url}}/assets/img/iam-0.png" class="logo-2">

            </a>
            <a href="{{site.url}}/index.html" class="nav-link {% if page.url == '/' or page.url == site.url page.title == 'Home'  %} active {% endif %}" id="home-nav"><span>Home<span></a>

            {{home_tag}}
        </li>
        {% endif %}
    
        {% assign page_index = 0 %}
        {% assign counter = '' %}    
        {% for entry in entries %}

    
            {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
            {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
    
             {% assign active_test = entry.url | remove: "/" %}
            

            {% if current == include.context %}
                {% assign counter = counter | append: 'x' %}
                
                <li class="column">
                    <a class="nav-link " href="{{ site.baseurl }}{{ entry.url }}"><span>{{ entry.title }}</span></a>
                    {% include sub-navigation.html context=entry.url %}
            {% if forloop.last == true %}

                <div class="social">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                    <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                    
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>   
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
                <div class="subscribe">
                    <input type="text" placeholder="Subscribe Newsletter">
                    <button class="subscribe__button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            {% endif %}
                </li>

            {% endif %}
    
        {% endfor %}
        
    </ul>
    {% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
    </nav>

</div>
</header>


<header class="responsive-header main-header">
    <div class="grid grid--2 padding-left-right--small">
        <div class="column">
            <a href="{{site.url}}/index.html"><img src="{{site.url}}/assets/img/logo-0.png" class="logo"></a>
        </div>

        <div class="column text--right">
            <a href="#" id="js-menu">
                <span class="menu-icon">Menu</span>
            </a>
        </div>
    </div>
</header>


<!-- duplicate -->
<nav class="side-ham" id="js-side-nav">
    <span class="cross" id="js-cancel"><img src="{{site.url}}/assets/img/cancel.png"/></span>
    <ul>
        {% if include.context == "/" %}
        <li class="side-ham__logo__holder">
            <img src="{{site.url}}/assets/img/logo-0.png" class="side-ham__logo">
        </li>

        {% endif %}
    
        {{html | replace:'<ul class="grid grid--5 sm-grid--2">','<ul>' | replace:'<li class="column">','<li>'}}
    </ul>
    
    </nav>

    <div class="nav-overlay" id="js-overlay">
        
    </div>