{% capture html %}{% assign active_test_2 = entry.url | remove: "/" %}
    <ul class="sub-nav">
        {% if include.context == "/" %}
        <li>
            <a href="index.html" class="nav-link full-logo {% if page.url == "/" %}active{% endif %}" id="logo_full"><img src="./assets/img/logo.png" ></a>
            <a href="index.html" class="nav-link active" id="home-nav"><span>Home<span></a>
        </li>
        {% endif %}
    
        {% assign entries = site.pages | sort: "path" %}
        {% for entry in entries %}
    
            {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
            {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
    
            {% if current == include.context %}
                <li>
                    <a href="{{ site.baseurl }}{{ entry.url }}" class="{% if page.url contains active_test_2 %}nav-title active  {% assign page_index = counter.size %}    {% endif %}">{{ entry.title }}</a>
                    {% include sub-navigation.html context=entry.url %}
                </li>
                

            {% endif %}
    
        {% endfor %}
    </ul>
    {% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}




