---
layout: default
---

<div class="grid grid--2-3 md-grid--1">
	<div class="column">
		<h2>Our Address</h2>
		{{page.content | markdownify}}
	</div>

	<div class="column">
		<div id="map"></div>
	</div>
</div>

<div class="sep--line"></div>


<h2>Leave Us a Message</h2>
<p>We'll get back to you</p>
<form class="contact-form" action="https://formspree.io/akriti@expresivstudios.com"
      method="POST">
    <div class="grid grid--2 md-grid--1">
    	<div class="column">
    		<label>Your Name</label>
    		<input type="text" name="name" required>
    	</div>
    	<div class="column">
    		<label>Your Email Address</label>
    		<input type="email" name="_replyto" required>
    	</div>
    </div>
    	
    	<label>Your Message</label>
    	<textarea rows="4" required></textarea>
    <div>
    	<input class="button" type="submit" value="Send">
    </div>
</form> 









<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCduqzl8qK4LqTOgLn3jE2B27RofW7oWJQ&callback=initMap"></script>
<script>
	function initMap() {
		var miami = {lat: 25.765003, lng: -80.191441};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 10,
			center: miami,
			draggable: false,
		});
		var marker = new google.maps.Marker({
			position: miami,
			map: map
		});
	}
</script>











