{% include head.html %}
{% include navigation.html context="/" %}

	<div class="main-container">
		<div class="grid grid--2-8">
			<div class="column">
				<div class="grid grid--2">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<a href="index.html">
								<div class="logo-holder">
											<img src="/assets/img/iam-orange.png" alt="Miami College of Design Logo" class="miami-logo" id="logo"/>
								</div>
								</a>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover bg--eye">
									<div class="table-cell va--center">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid grid--1">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover bg--blueprint">
									<div class="table-cell va--center">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="column">
				<div class="aspect-ratio aspect-ratio--8-3">
					<div class="block-content block-content--padded">
						<div class="table table--cover bg bg--cover bg--overlay--light bg--featured">
							<div class="table-cell va--bottom padding--large text--white">
								<h1 class="page__header">Admissions
								</h1>
								<h2 class="page__sub-head">
									Admission Requirements and Procedures
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid grid--2-8">
			<div class="column">
				<nav>
					<ul class="side-nav padding-left-right--small padding-top-bottom--large uppercase">
						<li class="active"><a href="#">ADMISSIONS PROCEDURES AND REQUIREMENTS</a></li>
						<li><a href="#">Admission Requirements</a></li>
						<li><a href="#">The Application Process</a></li>
						<li><a href="#">Interview and Performance Assessment</a></li>
						<li><a href="#">Acceptance by Institution</a></li>
						<li><a href="#">Language</a></li>
						<li><a href="#">Transfer of Credit Hours</a></li>
						<li><a href="#">Life Experience Credit</a></li>
					</ul>

				</nav>
			</div>

			<div class="column padding--large">
				
				<article class="content">
					
					{{content | markdownify}}

				</article>

			</div>

		</div>
	</div>

{% include footer.html %}