---
layout: default
---

{% assign events = site.events | sort: 'event_date' | reverse %}
{% for event in events %}

<div class="grid grid--2 sm-grid--1">
	<div class="column">
		<div class="aspect-ratio aspect-ratio--5-3">
			<div class="block-content block-content--padded">
				<a href="{{event.url}}">
					<div class="table table--cover bg bg--cover bg--gradient" style="background-image: url({{event.event_image}});">

					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="column  padding-left-right--large">
		<h2><strong><a href="{{event.url}}">{{event.title}}</a></strong></h2>
		<div>{{event.news_location}}</div>
		<div>{{event.news_date | date: '%B %d, %Y'}}</div>
		{{event.content  | strip_html | truncatewords:20 | markdownify}} 
		<a class="view-details" href="{{event.url}}">View Details</a>
	</div>
</div>
<div class="sep--line"></div>
{% endfor %}


