---
layout: default-page
---

<div class="main-container">
		<div class="grid grid--2-8">
			<div class="column">
				<div class="grid grid--2">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<a href="index.html">
								<div class="logo-holder">
											<img src="{{site.url}}/{{page.coloured_logo}}" alt="Miami College of Design Logo" class="miami-logo" id="logo"/>
								</div>
								</a>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover" style="background-image: url({{page.one_image}});">
									<div class="table-cell va--center">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid grid--1">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover" style="background-image: url({{page.two_image}});">
									<div class="table-cell va--center">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="column">
				<div class="aspect-ratio aspect-ratio--8-3">
					<div class="block-content block-content--padded">
						<div class="table table--cover bg bg--cover bg--overlay--light" style="background-image: url({{page.header_image}});">
							<div class="table-cell va--bottom padding--large text--white">
								<h1 class="page__header">{{page.header_title}}
								</h1>
								<h2 class="page__sub-head">
									{{page.header_subtitle}}
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid grid--2-8">
			<div class="column">
				<nav class="sticky">
					<ul class="side-nav padding-left-right--small padding-top-bottom--large uppercase">

						{% for menu-item in page.sidemenu %}
						<li class="side-menu uppercase {% if menu-item[0] == 'sidemenu_link_ID' %} hidden {% endif %}"><a href="#{{menu-item[0]}}">{{menu-item[1]}}</a></li>
						{% endfor %}
						
					</ul>

				</nav>
			</div>

			<div class="column padding--large">
				
				<article class="content">
					
				{% assign events = site.events | sort: 'event_date' | reverse %}
				{% for event in events %}
				
				<div class="aspect-ratio aspect-ratio--10-7">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover bg--gradient bg--event">
									<div class="va--bottom text--white table-cell">
										<div class="event">
											<div class="event__description">
												<h3 class="event__heading bold">Masters of Tomorrow 
												: Summit</h3>
												<div class="event__meta">
													<span class="location">Miami</span> - 
													<span class="date-time">November 30</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

				{% endfor %}



					{{content | markdownify}}

				</article>

			</div>

		</div>
	</div>
