---
layout: default-page
---
	{% for item in site.home_page %}
	<div class="main-container">
		<div class="grid grid--2">
			<div class="column">
				<div class="grid grid--2-3">
					<div class="column">
						<div class="grid grid--2">
							<div class="column">
								<div class="aspect-ratio aspect-ratio--1">
									<div class="block-content block-content--padded">
										<a href="index.html"><div class="logo-holder">
											<img src="{{site.url}}/assets/img/iam-blue.png" alt="Miami College of Design Logo" class="miami-logo" id="logo"/>
										</div>
										</a>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="aspect-ratio aspect-ratio--1">
									<div class="block-content block-content--padded">
										<div class="table table--cover bg bg--cover overflow--hide scale--1-1--hover shadow--hover" data-open="about_one_image" style="background-image: url({{item.one_image}});">
											<div class="table-cell va--center ">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="grid grid--1">
							<div class="column">
								<div class="aspect-ratio aspect-ratio--1">
									<div class="block-content block-content--padded">
										<div class="table table--cover bg bg--cover scale--1-1--hover shadow--hover" data-open="about_two_image" style="background-image: url({{item.two_image}});">
											<div class="half-triangle">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded" data-open="about_four_image">
								<div class="table table--cover bg bg--cover scale--1-05--hover shadow--hover" style="background-image: url({{item.four_image}});"></div>
							</div>
						</div>
					</div>
				</div>


				<div class="grid grid--1">
					<div class="aspect-ratio aspect-ratio--5-3">
						<div class="block-content block-content--padded">
							<div class="table table--cover bg bg--cover bg--overlay scale--1-025--hover shadow--hover" data-open="about_us" style="background-image: url({{item.video_bg_image}});">
								<div class="table-cell va--center text--center text--white " >
									<img src="{{site.url}}/assets/img/ic_play.png" class="icon"/>
									<p class="text--medium">Watch a video about us </p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="column">
				<div class="aspect-ratio aspect-ratio--5-6">
					<div class="block-content block-content--padded overflow--hide">
						<div class="table table--cover bg bg--cover bg--overlay text--white" style="background-image: url({{item.intro_bg_image}});">
							<div class="table-cell va--center section">
								<h2 class="section__heading">{{item.intro_title}}</h2>
								<div class="text--light">
									{{item.content | markdownify}}
								</div>
								<div class="sep"></div>
								<div class="table connect">
									<img src="{{site.url}}/assets/img/ic_arrow.png" class="icon table-cell va--center"/><span class="table-cell va--center text--medium"> Connect with us </span>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grid grid--2">
			<div class="column">
				<div class="aspect-ratio aspect-ratio--5-6">
					<div class="block-content block-content--padded">
						<div class="table table--cover bg bg--grey">
							<div class="va--middle table-cell section">
								<h2 class="section__heading">Our Mission</h2>
								{{item.our_mission | markdownify}}
								<div class="table connect">
									<img src="{{site.url}}/assets/img/ic_arrow_dark.png" class="icon table-cell va--center"/><span class="table-cell va--center text--medium"> Meet our Team </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="grid grid--2">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover overflow--hide bg--flamenco">
									<div class="half-triangle dim"></div>
									<div class="va--middle table-cell table--cover text--white text--center padding--medium">
										<img src="{{site.url}}/assets/img/ic_twitter.png"/>
										<p>Join Free Class "Nature's Inventions &amp; Industrial Innovations" #biodesign @ventureCafeMIA @MOTSummit http://bit.ly/2ffrZLB"</p>
									</div>
								</div>
					
							</div>
						</div>
					</div>
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content overflow--hide block-content--padded">
								<div class="table table--cover bg bg--cover" style="background-image: url({{item.bottomfold_two_image}});">
									<div class="half-triangle half-triangle--rotate"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="grid grid--1">
					<div class="column">
								<div class="event-carousel" id="event-carousel">
									{% assign events = site.events | sort: 'event_date' | reverse %}
									{% for event in events %}	
						<div class="aspect-ratio aspect-ratio--10-7">
							<div class="block-content block-content--padded">
									<div class="table table--cover bg bg--cover bg--gradient" style="background-image: url({{event.event_image}});">
										<div class="va--bottom text--white table-cell">
											<div class="event">
												<div class="event__description">
													<h3 class="event__heading bold">{{event.title}}</h3>
													<div class="event__meta">
														<span class="location">{{event.event_venue}}</span> - 
														<span class="date-time">{{event.event_date | date: '%B %d, %Y'}}</span>
													</div>
												</div>
{% comment %}
												<div class="event__nav">
													<img src="assets/img/ic_prev.png" class="icon"/>
													<img src="assets/img/ic_next.png" class="icon"/>
												</div>
{% endcomment %}											</div>
										</div>
									</div>


							</div>
						</div>
									{% endfor %}
								</div>

								
						

					</div>
				</div>






			</div>
		</div>
	</div>
	{% endfor %}


