<h2>Leave Us a Message</h2>
<p>We'll get back to you</p>
<form class="contact-form" action="https://formspree.io/akriti@expresivstudios.com"
      method="POST">
    <div class="grid grid--2">
    	<div class="column">
    		<label>Your Name</label>
    		<input type="text" name="name" required>
    	</div>
    	<div class="column">
    		<label>Your Email Address</label>
    		<input type="email" name="_replyto" required>
    	</div>
    </div>
    	
    	<label>Your Message</label>
    	<textarea rows="4" required></textarea>
    <div>
    	<input class="button" type="submit" value="Send">
    </div>
</form> 