{% include head.html %}
{% include navigation.html context="/" %}

	<div class="main-container page-step--{{page_index}}">
		<div class="grid grid--2-8 sm-grid--1">
			<div class="column sm--hide">
				<div class="grid grid--2 sm-grid--1">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<a href="index.html">
								<div class="logo-holder">
									<img src="{{site.url}}/assets/img/iam-{{page_index}}.png" alt="Miami College of Design Logo" class="miami-logo" id="logo"/>
								</div>
								</a>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover" style="background-image: url({{item.one_image}});">
									<div class="table-cell va--center">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid grid--1">
					<div class="column">
						<div class="aspect-ratio aspect-ratio--1">
							<div class="block-content block-content--padded">
								<div class="table table--cover bg bg--cover" style="background-image: url({{item.two_image}});">
									<div class="table-cell va--center">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="column">
				<div class="aspect-ratio aspect-ratio--8-3 sm-aspect-ratio--auto">
					<div class="block-content block-content--padded">
						<div class="table table--cover bg bg--cover bg--overlay--light" style="background-image: url({{item.header_image}});">
							<div class="table-cell va--bottom padding--large text--white">
								<h1 class="page__header">{{page.title}}
								</h1>
								<h2 class="page__sub-head">
									{{page.event_date | date: '%B %d, %Y'}}, {{page.event_venue}} 
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		


		
		<div class="grid grid--2-8 md-grid--1">
			<div class="column md--hide">

				<div class="side-nav__outer" id="main_sticky_container">
					<nav class="side-nav__holder sticky_box">
						
					</nav>
				</div>
			</div>

			<div class="column padding--small">
				<div class="sep"></div>
				<article class="content">
					<figure class="event-image">
						<img src="{{page.event_image}}" alt="{{event.title}}">		
					</figure>
					{{content | markdownify}}
					<div class="sep"></div>
					
					
				</article>

				<div class="clearfix"></div>
				<div class="share-text">Share this page:</div>
					<div class="addthis_inline_share_toolbox"></div>

			</div>

		</div>
	</div>
<!-- addthis -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d8ce5cae17ab8f"></script>

{% include footer.html %}